<div>This error could be anything from missing a parenthesis to not using a semicolon to end a line. </div>
<p><b>TIP</b>: Start looking at the line {{error.line}} and work backwards until you find your error.</p>
