<p class="reduce-padding">
{{my-ivy-codemirror
  value=errorDetails
  codeSnippet=true
  options=(hash lineWrapping=true
                readOnly=true
                autorefresh=true)}}
</p>
<div><b>TIP</b>: Start looking at the line 7 and work backwards until you find your error.</div>
<div><b>TIP</b>: Try checking whether you have any unbalanced “}” or “)” within your function</div>
<div><b>TIP</b>: Do you have an extra semicolon somewhere?</div>
