{{#if showCorrectCode}}
  <p>Line {{lineNumber}} must end with a semicolon:</p>
  {{my-ivy-codemirror
    value=correctCode
    codeSnippet=true
    options=(hash lineWrapping=true
                  readOnly=true
                  autorefresh=true)}}
{{else}}
  <p>
  If you aren’t missing a semicolon on line {{lineNumber}},
  then this error often occurs as a result of another
  syntax error.
  </p>
  <p><b>TIP:</b> Do you have any unbalanced “)” or “}”?</p>
  <p><b>TIP:</b> Do you have an extra semicolon somewhere?</p>
  <p><b>TIP:</b> Are all of your conditions surrounded by ()?</p>
{{/if}}
