<div>{{firstMessage}}</div>

<p class="reduce-padding">
{{my-ivy-codemirror
  value=typeCode
  codeSnippet=true
  options=(hash lineWrapping=true
                readOnly=true)}}
</p>

<div class="or"> OR </div>

<p class="reduce-padding">
{{my-ivy-codemirror
  value=voidCode
  codeSnippet=true
  options=(hash lineWrapping=true
                readOnly=true)}}
</p>

<div>{{{secondMessage}}}</div>
